.about-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background:  #1E88E5;
}
.about-main-div{
    background: white;
    width: 90%;
    padding: 10px;
height: 100vh;
border-radius: 10px;
overflow-y: scroll;

}
.about-main-div .main-heading{
    text-align: center;
}
.about-main-div h2{
    margin: 10px 0px;
}
.about-main-div li{
    list-style: none;
}

/* yha se privacy ka code hai */

.privacy-main-div{
    background: white;
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
}
.privacy-main-div .main-heading{
  text-align: center;
}
.privacy-main-div h2{
    margin: 10px 0px;

}