*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
.header{
    height: 50px;
    width: 100%;
    background: rgba(247, 247, 253, 0.819);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
box-shadow: 0 22px 20px white;
}
.left-nav{
    /* background: #000; */
    position: relative;
}
.hamNewslogo{
    height: 70px;
    /* width: 50px; */
   /* position: absolute; */
   
}
.middle-nav{
    /* background: #a58e8e; */
    /* width: 200px; */
    font-family: 'Courier New', Courier, monospace;
}
.menu-btn{
    height: 50px;
 cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    background: #efeff2e6;
    height: 100vh;

    width: 100%;
    padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}

.menu-div{
    height: 100vh;
    width: 199px;
    position: absolute;
    left: 0;
    background:white;
    z-index: 2;
    /* display: none; */
}

.menu-btn-div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background: red; */
}
.menu-btn-div img{
height: 20px;
margin: 10px;
}
.menu-btn-div a{
    color: #000;
    text-decoration-line: none;
}
.card-div{
    display: flex;
    box-shadow: 0 3px 3px;
    flex-direction: column;
   min-height: 350px;
   overflow: hidden;
   width: 300px;
   background: #e7e5e9; 
   border-radius: 10px;
   /* align-items: center; */

}
.img-div{
    height: 150px;
}

.img-div img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.card-div .date-title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.date-title-div p{
    margin: 10px;
}
.date-title-div h2{
    margin-left: 10px;
}
.btnDiv{
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-div button{
    background: rgba(12, 134, 183, 0.589);
    padding: 5px 20px;
    border-radius: 50px;
        margin: 10px;
    box-shadow: 0 3px 3px;
   
   
}

footer{
    height: 50px;
    width: 100%;
    background: #0000;
    display: flex;
    align-items: center;
    justify-content: center;
}